.addCity {
    margin: 10px auto;
    text-align: center;

    input {
        padding: 15px;
        font-family: inherit;
        font-size: 16px;
        border: none;
        &[type="text"] {
            box-shadow: inset 0 0 5px 5px rgb(175, 238, 238);
        }
        &[type="submit"] {
            background-color: paleturquoise;
            cursor: pointer;
            outline: 2px solid paleturquoise;
            outline-offset: -2px;
            transition: all ease-in-out 0.3s;
            &:hover {
                color: #3ca5a5;
                background-color: #fff;
            }
        }
    }
}

.addCityCont {
    p {
        text-align: center;
        color: red;
    }
}